ie-mapping/ie-import-mapping/src/main/resources/IM515.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Acknowledgement - This scheme is based on the World Custom Organisation (WCO) Data Model Version 2.-->
<!-- 
	
Current Version: 0.8

Document History:
		
0.1 (Draft):
=========
	01/05/2006: -  Document Created
		
0.2 (Draft):
=========
	10/05/2006:
		(1) Some structure changes made that will not alter the semantics of instance documents
		(2) Namespaces have been updated.
	
	26/05/2006:
		(1) Element renamed - "Deliverydestination" to "DeliveryDestination"
		(2) Element renamed - "Unloadinglocation" to "UnloadingLocation"
		(3) Element renamed - "TarifQuantity" to "TariffQuantity"
		(4) Complex Type sequence re-ordered at /Declaration/GoodsShipment/Consignment/TransportContractDocument/ - TypeCode is first and Sequence ID is second.
		(5) Element "MessageReferenceNumber" has been removed
		(6) Element "MessageType" has been removed
		(7) Element "IEMessageSendingDate" has been added
		(8) Element "IEMessageType" has been added
		(9) Element "IEMethodOfPayment" has been added
		(10) Element "IERegistered" has been added to Consignor, Consignee, and Agent
		
	15/06/2006:
		(1) Element "AdditionalDocument" changed from mandatory to optional.
	
	17/06/2006:
		(1) Element "UnloadingLocation" and its child "NameText" renamed to "GoodsLocation" and "LocationIdentifier" respectively.
	
	05/07/2006:
		(1) Element "CountryCode" child of element "DeliveryDestination" annotation changed to "Box 17a - Country of Destination" from "Country Code". 
		(2) Element "EUItemPriceAmount" type changed from EUItemPriceAmount to Wco112
		
	20/07/2006:
		(1) Element "IERegistered" has been removed from Consignor, Consignee, and Agent
		
	31/07/2006:
		(1) Element "MarkNumberText" annotation has been changed to"Box 31: Marks of the Packages" from "Box 31: Marks and Numbers"
		(2) Element "IEPcksDescSequenceIdentifier" annotation has been changed to "Box 31: Packages in item" from "Box 31: Item Number where the packages referred to in the current item are described".
		(3) Element "MethodCode" annotation has been changed from "Box 47.5: Method of Payment" to "Box 47.5: Tax Method of Payment".
		(4) Element "IESummaryDeclarationIdentifier" annotation has been changed from "Manifest Reference Number Issued By Customs" to "Summary Declaration (Manifest) Reference Number Assigned by Customs".
		(5) Element "CountryCode" annotation has been changed from "Box 17a - Country of Destination" to "Country Code".
		(6) Element "DeliveryDestination" annotation has been changed from "Delivery Destination" to "Box 17a - Country of Destination"
	
	03/08/2006:
		(1) Element "AdditionalInformation", order of child elements changed to "StatementCode" and then "ContentText"
		(2) Element "AdditionalDocument", order of child elements changed to "TypeCode" and then "ReferenceIdentifier".
		(3) Element "CustomsReferenceIdentifier" annotation changed from "Box A: SAD Number assigned by Customs" to "Customs Declaration (SAD) Number Assigned by Customs".

0.3 (Draft):
=========
	22/10/2006:
		(1) Element "StatusCode" annotation changed from "Box 14b: Declarant Status" to "Box 14a: Declarant Status".
		(2) Element "DeliveryDestination" annotation changed from "Box 17a - Country of Destination" to "Box 17 - Country of Destination".
		(3) Element "Address", order of child elements changed.
		(4) Element "CityName" annotation changed from "City" to "Address Line 2"
		(5) Element "LineText" annotation changed from "StreetandNumber" to "Address Line 1"
		(6) Element "CountrySubEntityNameName" annotation changed from "County" to "Address Line 3"
		(7) Element "IEMethodOfPaymentCode" annotation changed from "Box 47.5: Method of Payment code" to "Box 47.5: Preferred Method of Payment code".
	
	23/10/2006:
		(1) Element "AdditonalDocument", child element "ReferenceIdentifier" type changed from "Wco003" to "IEReferenceIdentifierList".
		(2) Changed order of Consignor/Consignee to read Identifier, name and address,  changed order of Declarant to read status, identifier, name and address.

0.4 (Draft):
=========
	31/10/2006:
		Elements added to meet the requirement for Excise Duty Entry(EDE).  These changes have no effect on the SAD requirements.
		These elements are:	"IERT number" type IEIERTNumber
											"Local number" type IELocalNumber
											"Date of Dispatch" type WCO 030		
		Annotation changed to identify elements required for Excise Duty Entry (EDE).   

0.5 (Draft):
=========	
	17/11/2006:
	(1) EDE - Box 11: Total Value has been ammended and now mapped to SAD - Box 22.2: Total amount invoiced.
	(2) Element "Phone Number" has been added for EDE.

0.6 (Draft):
=========
	08/01/2007:
	(1) Annotation changed throughout schema to be consistent with the SAD BOX numbering format used in the Trader Guide.
	(2) 'Consignment' element changed to have minOccurs=0.

0.7:
=========
	11/01/2007
	(1) Revert order of Agent elements to pre 0.6 draft.
	(2) Removed Draft Status.

0.8:
=========
	22/01/2007:
	EDE Changes Only
	(1) Removed annotation - 26/2: Total Vat from TaxText
	(2) Add addotation -  Item VAT Payable to TaxAssessedAmount.

0.9
======
27/11/2008
Standardisation of Import Declaration due to ECS, this changes are for the SAD Import message only.
(1) Transport Document Type and Identifier are removed as they are no longer data elements for themselves
(2) Container number now has a structural change and is in goods item.
(3) Address Line 3 removed.
(4) Consignor/Consignee/Agent identifier changed from an..16 to an.17
(5) Box 25: Mode of Transport At the Border changed from n1 to n2.
(6) Box 26: Inland Mode of Transport changed from n1 to n2.
 
 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cus="http://www.ros.ie/schemas/customs/customstypes/v1" xmlns="http://www.ros.ie/schemas/customs/IM515/v1" targetNamespace="http://www.ros.ie/schemas/customs/IM515/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.ros.ie/schemas/customs/customstypes/v1" schemaLocation="types.xsd"/>
	<xsd:annotation>
		<xsd:documentation>SAD Customs Declaration Import Message</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ImportCustomsDeclaration">
		<xsd:annotation>
			<xsd:documentation>Message</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Declaration"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Declaration">
		<xsd:annotation>
			<xsd:documentation>Declaration</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TypeCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 1: Declaration type</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="AcceptanceDate" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box A: Date SAD Accepted by Customs </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="IEMessageSendingDate" minOccurs="0"/>
				<xsd:element ref="IEMessageType" minOccurs="0"/>
				<xsd:element ref="IERiskRouting" minOccurs="0"/>
				<xsd:element ref="CustomsReferenceIdentifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box A: Customs Declaration                   (SAD) Number Assigned by Customs</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="DeclarationOfficeIdentifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box A: Office of Import
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="GoodsItemQuantity" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 5: Number of Items
 </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="InvoiceAmount" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 22/2: Total amount invoiced
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="GoodsShipment"/>
				<xsd:element ref="DeclarationPackaging" minOccurs="0"/>
				<xsd:element ref="CurrencyExchange" minOccurs="0"/>
				<xsd:element ref="Agent" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GoodsShipment">
		<xsd:annotation>
			<xsd:documentation>Goods Shipment</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ExportationCountryIdentifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 15a: Country of Export Code
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="TransactionNatureCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 24: Nature of Transaction Code</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Warehouse" minOccurs="0"/>
				<xsd:element ref="Ucr" minOccurs="0"/>
				<xsd:element ref="TradeTerm" minOccurs="0"/>
				<xsd:element ref="EntryCustomsOffice" minOccurs="0"/>
				<xsd:element ref="DeliveryDestination" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 17: - Country of Destination</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CustomsGoodsItem" maxOccurs="100"/>
				<xsd:element ref="Consignor" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 2: Consignor
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Consignment" minOccurs="0"/>
				<xsd:element ref="Consignee" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 8: Consignee
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="IEValueDetailsCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 12: Value Details</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="IEMethodOfPaymentCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 47/5: Preferred Method of Payment code
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="IEPayer" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 48: Deferred Payment
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Box 44: Additional Information</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Box 44: Header Level Additional Document   
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DeclarationPackaging">
		<xsd:annotation>
			<xsd:documentation>Declaration Packaging</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="QuantityQuantity">
					<xsd:annotation>
						<xsd:documentation>Box 6: Total Packages
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CurrencyExchange">
		<xsd:annotation>
			<xsd:documentation>Currency Exchange</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="RateNumeric" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 23: Exchange Rate</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CurrencyTypeIdentifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 22/1: Currency Code</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Agent">
		<xsd:annotation>
			<xsd:documentation>Agent/Declarant</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="StatusCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 14/1: Declarant Status</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="IdentityIdentifier" type="cus:Wco061" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 14/2: Declarant ID
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="NameText" type="cus:Wco060" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 14/3: Declarant Name  
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Address" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Warehouse">
		<xsd:annotation>
			<xsd:documentation>Warehouse</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentificationIdentifier" type="cus:Wco053" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 49: Warehouse Code</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Ucr">
		<xsd:annotation>
			<xsd:documentation>Commercial Reference Number</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentificationIdentifier" type="cus:Wco016" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 7: UCR possible future use</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="TraderReferenceIdentifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 7: Trader reference</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TradeTerm">
		<xsd:annotation>
			<xsd:documentation>Trade Term</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ConditionCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 20/1: Terms of delivery Coded</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="LocationNameText" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 20/2: Terms of delivery Place</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CountryRelationshipCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 20/3 Terms of delivery Situation</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EntryCustomsOffice">
		<xsd:annotation>
			<xsd:documentation>Entry Customs Office</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CodeIdentifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 29: Customs Office of Entry
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DeliveryDestination">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 17: Country of Destination</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CountryCode" minOccurs="0"/>
				<xsd:element ref="CountrySubEntityIdentifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 17b: Region of Destination</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomsGoodsItem">
		<xsd:annotation>
			<xsd:documentation>Customs Goods Item</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GoodsPackaging" minOccurs="0"/>
				<xsd:element ref="IEUniqueLPRef" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 31 Unique LP Reference</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="IEPcksDescSequenceIdentifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 31: Packages in item</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="SequenceIdentifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 32: Item Number</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Commodity" minOccurs="0"/>
				<xsd:element ref="Origin" minOccurs="0"/>
				<xsd:element ref="GoodsMeasure" minOccurs="0"/>
				<xsd:element ref="CustomsProcedure" minOccurs="0"/>
				<xsd:element ref="PreviousCustomsDocument" minOccurs="0"/>
				<xsd:element ref="EUItemPriceAmount" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 42: Item Price
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="EUCustomsValuation" minOccurs="0"/>
				<xsd:element ref="AdditionalInformation" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Box 44: Additional Information</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="AdditionalDocument" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Box 44: Item Level Additional Document 
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="ValuationAdjustment" minOccurs="0"/>
				<xsd:element ref="StatisticalValueAmount" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 46: Statistical Value</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TransportEquipment" minOccurs="0" maxOccurs="99">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="EquipmentIdentification"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Consignor">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 2: Consignor
EDE - Box 1: Supplier</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentityIdentifier" type="cus:Wco072" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 2/1: Consignor ID </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="NameText" type="cus:Wco071" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 2/2: Consignor Name </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Address" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Consignment">
		<xsd:annotation>
			<xsd:documentation>Consignment</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ArrivalTransportMeans" minOccurs="0"/>
				<xsd:element ref="BorderTransportMeans" minOccurs="0"/>
				<xsd:element ref="IEInlandModeOfTransportCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 26: Inland Mode of Transport</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="GoodsLocation" minOccurs="0"/>
				<xsd:element ref="IESummaryDeclarationIdentifier" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Consignee">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 8: Consignee
EDE - Box 2: Importer</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentityIdentifier" type="cus:Wco052" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 8/1: Consignee ID    
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="NameText" type="cus:Wco051" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 8/2: Consignee Name 
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Address" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IEPayer">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 48: Deferred Payment
EDE - Box 27: Payer Tax Number/Type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="IEPayerIdentifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 48: Deferred Payment
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AdditionalInformation">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 44: Additional Information</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="StatementCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 44/1: Additional Information Type Code</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="ContentText" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 44/2: Additional information </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AdditionalDocument">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 44: Additional Document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TypeCode" type="cus:Wco170" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 44/1: Additional Document Code</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ReferenceIdentifier" type="cus:IEReferenceIdentifierList" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 44/2: Additional Document Identifier (Number)</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Address">
		<xsd:annotation>
			<xsd:documentation>Address</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LineText" minOccurs="0"/>
				<xsd:element ref="CityName" minOccurs="0"/>
				<xsd:element ref="PostcodeIdentifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Post Code/Address Line 4</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CountryCode" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GoodsPackaging">
		<xsd:annotation>
			<xsd:documentation>Goods Packaging</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="MarkNumberText" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 31: Marks of the Packages</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="QuantityQuantity" type="cus:Wco144" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 31:  Number of Packages
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="TypeCode" type="cus:Wco141" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 31:Type of package</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Commodity">
		<xsd:annotation>
			<xsd:documentation>Commodity</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DescriptionText" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 31: Description of Goods
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="TariffClassificationCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 33/1 and 33/2  Commodity Code
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="EUTariffClassificationAdd1Code" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 33/3 TARIC Additional code 1</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="EUTariffClassificationAdd2Code" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 33/4 TARIC Additional code 2</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="EUTariffClassificationNatCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 33/5 National Additional code
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="EUDutyRegimeCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 36 Preference</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="DutyTaxFee" minOccurs="0" maxOccurs="99"/>
				<xsd:element ref="EUQuotaIdentifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 39: Quota</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Origin">
		<xsd:annotation>
			<xsd:documentation>Origin</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="OriginCountryIdentifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 34a: Country of Origin Code
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GoodsMeasure">
		<xsd:annotation>
			<xsd:documentation>Goods Measure</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GrossMassMeasure" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 35: Gross mass</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="NetNetWeightMeasure" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 38: Net Mass</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="TariffQuantity" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 41: Supplementary Units
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CustomsProcedure">
		<xsd:annotation>
			<xsd:documentation>Customs Procedures</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CurrentCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 37a/1: Customs Procedure Requested Code</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="PreviousCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 37a/2: Previous Customs Procedure Code</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="CategoryCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 37b: Procedure SubCategory Code</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PreviousCustomsDocument">
		<xsd:annotation>
			<xsd:documentation>Previous Customs Document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ReferenceIdentifier" type="cus:Wco007" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Previous Customs Document Number</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EUCustomsValuation">
		<xsd:annotation>
			<xsd:documentation>EU Customs Valuation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MethodCode" type="cus:Wco122" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 43: Valuation Method Code</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ValuationAdjustment">
		<xsd:annotation>
			<xsd:documentation>Valuation Adjustment</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="AmountAmount" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 45: Valuation Adjustment Amount</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ArrivalTransportMeans">
		<xsd:annotation>
			<xsd:documentation>Arrival Transport Means</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="IdentificationText" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 18/1: Identity of means of transport at Arrival</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BorderTransportMeans">
		<xsd:annotation>
			<xsd:documentation>Border Transport Means</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="RegistrationNationalityIdentifier" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 21/2: Nationality of Transport Crossing the border</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="ModeAndTypeCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 25: Mode of Transport At the Border</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GoodsLocation">
		<xsd:annotation>
			<xsd:documentation>Goods Location</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="LocationIdentifier" type="cus:Wco079" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 30: Location of Goods</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransportEquipment">
		<xsd:annotation>
			<xsd:documentation>Transport Equipment</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="EquipmentIdentification" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DutyTaxFee">
		<xsd:annotation>
			<xsd:documentation>Duty Tax Fee</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TypeCode" type="cus:Wco113" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 47/1: Tax Type
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="IETaxBase" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 47/2 : Quantity/Value for Duty
</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="TaxText" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 47/3: Rate of Duty

</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Payment" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EquipmentIdentification">
		<xsd:annotation>
			<xsd:documentation>Equipment Identification</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="IdentificationIdentifier" type="cus:Wco159" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 31: Container No</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Payment">
		<xsd:annotation>
			<xsd:documentation>Payment Method and Tax Assessed Amount</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="MethodCode" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 47/5: Tax Method of Payment</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="TaxAssessedAmount" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Box 47/4: Duty Payable

</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TypeCode" type="cus:Wco001">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 1: Declaration type</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AcceptanceDate" type="cus:Wco023">
		<xsd:annotation>
			<xsd:documentation>SAD - Box A: Date SAD Accepted by Customs</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IEMessageSendingDate" type="cus:IEDateTime">
		<xsd:annotation>
			<xsd:documentation>Message Sending Date</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IEMessageType" type="cus:IEMessageType">
		<xsd:annotation>
			<xsd:documentation>Message Type Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IERiskRouting" type="cus:IERiskRouting">
		<xsd:annotation>
			<xsd:documentation>Risk Routing</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CustomsReferenceIdentifier" type="cus:Wco020">
		<xsd:annotation>
			<xsd:documentation>SAD - Box A: Customs Declaration (SAD) Number Assigned by Customs
EDE - Box 4: Entry Number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DeclarationOfficeIdentifier" type="cus:Wco065">
		<xsd:annotation>
			<xsd:documentation>SAD - Box A: Office of Import
EDE - Box 7: Office of Entry Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GoodsItemQuantity" type="cus:Wco228">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 5: Number of Items
EDE - Box 9: Total Items </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StatusCode" type="cus:Wco102">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 14/3: Declarant Status</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CityName" type="cus:Wco241">
		<xsd:annotation>
			<xsd:documentation>Address Line 2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InvoiceAmount" type="cus:Wco109">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 22/2: Total amount invoiced
EDE - Box 11: Total Value</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LineText" type="cus:Wco239">
		<xsd:annotation>
			<xsd:documentation>Address Line 1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCode" type="cus:Wco242">
		<xsd:annotation>
			<xsd:documentation>Country Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountrySubEntityNameName" type="cus:Wco243">
		<xsd:annotation>
			<xsd:documentation>Address Line 3</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PostcodeIdentifier" type="cus:Wco245">
		<xsd:annotation>
			<xsd:documentation>Post Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RateNumeric" type="cus:Wco118">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 23: Exchange Rate</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CurrencyTypeIdentifier" type="cus:Wco135">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 22/1: Currency Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityQuantity" type="cus:Wco146">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 6: Total Packages
EDE - Box 10: Total Number of Packages</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ExportationCountryIdentifier" type="cus:Wco062">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 15a: Country of Export Code
EDE - Box 5: Country of Dispatch</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionNatureCode" type="cus:Wco103">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 24: Nature of Transaction Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IEValueDetailsCode" type="cus:IEValueDetails">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 12: Value Details</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IEMethodOfPaymentCode" type="cus:IEMethodOfPaymentCode">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 47/5: Preferred Method of Payment code
EDE - Box 26/4: Grand Total Preferred Payment Method</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TraderReferenceIdentifier" type="cus:Wco009">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 7: Trader reference</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConditionCode" type="cus:Wco090">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 20/1: Terms of delivery Coded</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationNameText" type="cus:Wco037">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 20/2: Terms of delivery Place</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryRelationshipCode" type="cus:Wco106">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 20/3: Terms of delivery Situation</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CodeIdentifier" type="cus:Wco046">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 29: Customs Office of Entry
EDE - Box 8: Excise Office Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountrySubEntityIdentifier" type="cus:Wco244">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 17b: Region of Destination</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IEUniqueLPRef">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 31: Unique LP Reference</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="cus:IEUniqueLPRef">
				<xsd:totalDigits value="8"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IEPcksDescSequenceIdentifier" type="cus:Wco006">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 31: Packages in item</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SequenceIdentifier" type="cus:Wco006">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 32: Item Number
EDE - Box 12: Item Number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EUItemPriceAmount" type="cus:Wco112">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 42: Item Price
EDE - Box 18: Item Price</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StatisticalValueAmount" type="cus:Wco114">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 46: Statistical Value</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContentText" type="cus:Wco105">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 44: Additional information </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StatementCode" type="cus:Wco226">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 44: Additional Information Type Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IEPayerIdentifier" type="cus:IEPayerIdentifier">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 48: Deferred Payment
EDE - Box 27: Payer Tax Number/Type</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MarkNumberText" type="cus:Wco142">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 31: Marks of the Packages</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DescriptionText" type="cus:Wco137">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 31: Description of Goods
EDE - Box 20: Description of Goods</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TariffClassificationCode" type="cus:Wco145">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 33/1 and 33/2:  Commodity Code
EDE - Box 13: Commodity Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EUTariffClassificationAdd1Code" type="cus:EUAdditionalCode">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 33/3: TARIC Additional code 1</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EUTariffClassificationAdd2Code" type="cus:EUAdditionalCode">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 33/4: TARIC Additional code 2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EUTariffClassificationNatCode" type="cus:EUAdditionalCode">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 33/5: National Additional code
EDE - Box 14: Excise Reference Number</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EUDutyRegimeCode" type="cus:Wco164">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 36: Preference</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EUQuotaIdentifier">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 39: Quota</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="cus:EUQuotaIdentifier"/>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="IETaxBase" type="cus:IETaxBase">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 47/2 : Quantity/Value for Duty
EDE - Box 19: Quantity for Duty
EDE - Box 24: Value for VAT</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TaxText" type="cus:Wco115">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 47/3: Rate of Duty
EDE - Box 22: Rate of Duty
EDE - Box 25: VAT Rate</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MethodCode" type="cus:Wco107">
		<xsd:annotation>
			<xsd:documentation>SAD - 47/5: Tax Method of Payment</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TaxAssessedAmount" type="cus:Wco120">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 47/4: Duty Payable
EDE - Box 23: Duty Payable
EDE - Item VAT Payable</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OriginCountryIdentifier" type="cus:Wco063">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 34a: Country of Origin Code
EDE - Box 15: Country of Origin</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GrossMassMeasure" type="cus:Wco126">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 35: Gross mass</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NetNetWeightMeasure" type="cus:Wco128">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 38: Net Mass</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TariffQuantity" type="cus:Wco130">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 41: Supplementary Units
EDE - Box 17: Supplementray Units</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CurrentCode" type="cus:Wco166">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 37a/1: Customs Procedure Requested Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PreviousCode" type="cus:Wco161">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 37a/2: Previous Customs Procedure Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CategoryCode" type="cus:EUProcedureSubCategory">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 37b: Procedure SubCategory Code</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AmountAmount" type="cus:Wco125">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 45: Valuation Adjustment Amount</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IEInlandModeOfTransportCode" type="cus:IEInlandModeOfTransportCode">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 26: Inland Mode of Transport</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IESummaryDeclarationIdentifier" type="cus:Wco003">
		<xsd:annotation>
			<xsd:documentation>Summary Declaration (Manifest) Reference Number Assigned by Customs</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationText" type="cus:Wco184">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 18/1: Identity of means of transport at Arrival</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RegistrationNationalityIdentifier" type="cus:Wco175">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 21/2: Nationality of Transport Crossing the border</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ModeAndTypeCode" type="cus:Wco183">
		<xsd:annotation>
			<xsd:documentation>SAD - Box 25: Mode of Transport At the Border</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
