ie-mapping/ie-export-mapping/src/main/resources/TechnicalError.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Version Control:Current Version: 0.2	Document History:			0.1 (Draft)	=========	31/07/2006:		(1) ErrorCode now references CustomsTypes Schema code "IEErrorCode"		(2) ErrorText now references Customstypes  Schema code "IEErrorText"	0.2		01/02/2007:	Removed Draft Status.--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cus="http://www.ros.ie/schemas/customs/customstypes/v1" xmlns="http://www.ros.ie/schemas/customs/technicalerror/v1" targetNamespace="http://www.ros.ie/schemas/customs/technicalerror/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">	<xsd:import namespace="http://www.ros.ie/schemas/customs/customstypes/v1" schemaLocation="types.xsd"/>	<xsd:element name="CustomsTechnicalError">		<xsd:annotation>			<xsd:documentation>Customs non-functional technical error</xsd:documentation>		</xsd:annotation>		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="ErrorReference"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="ErrorReference">		<xsd:annotation>			<xsd:documentation>Error reference containing details of an error</xsd:documentation>		</xsd:annotation>		<xsd:complexType>			<xsd:sequence>				<xsd:element ref="ErrorCode"/>				<xsd:element ref="ErrorText" minOccurs="0"/>			</xsd:sequence>		</xsd:complexType>	</xsd:element>	<xsd:element name="ErrorCode" type="cus:IEErrorCode">		<xsd:annotation>			<xsd:documentation>Error code</xsd:documentation>		</xsd:annotation>	</xsd:element>	<xsd:element name="ErrorText" type="cus:IEErrorText">		<xsd:annotation>			<xsd:documentation>Error text </xsd:documentation>		</xsd:annotation>	</xsd:element></xsd:schema>