fr-mapping/fr-ncts-mapping/src/main/resources/IE16.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:fx="http://www.gefeg.com/fx/2007/01">
  <xs:annotation>
    <xs:documentation>
      <fx:ModelProperties>
        <fx:Property Name="Tag">IE16</fx:Property>
        <fx:Property Name="Version">1.0</fx:Property>
        <fx:Property Name="Variant"></fx:Property>
        <fx:Property Name="ModelType">XML Schema</fx:Property>
        <fx:Property Name="Author">Andreas Giger</fx:Property>
        <fx:Property Name="CreationDate">2013-08-28T14:20:30</fx:Property>
        <fx:Property Name="NextFreeId">1</fx:Property>
        <fx:Property Name="ConditionalsAreUnused">false</fx:Property>
        <fx:NoteDef Tag="Name" Function="name" Flags="public|virtual|languageDependent"/>
        <fx:NoteDef Tag="Desc" Function="desc" Flags="public|virtual|languageDependent"/>
        <fx:NoteDef Tag="Remark" Function="user defined" Flags="public|languageDependent"/>
        <fx:NoteDef Tag="Id" Function="identification"/>
        <fx:NoteDef Tag="Mapping" Function="mapping"/>
        <fx:NoteDef Tag="Inbound" Function="mapping"/>
        <fx:NoteDef Tag="Outbound" Function="mapping"/>
        <fx:NoteDef Tag="??" Function="user defined" Flags="languageDependent"/>
        <fx:NoteDef Tag="Example" Function="example"/>
        <fx:NoteDef Tag="Note1" Function="user defined" Flags="public|languageDependent"/>
        <fx:NoteDef Tag="Note2" Function="user defined" Flags="public|languageDependent"/>
        <fx:NoteDef Tag="Note3" Function="user defined" Flags="public|languageDependent"/>
        <fx:NoteDef Tag="documentation" Function="desc" Flags="public|virtual|languageDependent"/>
        <fx:SecurityToken></fx:SecurityToken>
        <fx:Note Tag="LinkedObject" Internal="true">
          <fx:Field Tag="Flags">ThesaurusMapped</fx:Field>
          <fx:Field Tag="OtherType">mapping</fx:Field>
          <fx:Field Tag="OtherTag">Mapping NCTSDeclarationRejected to IE16</fx:Field>
          <fx:Field Tag="OtherVersion">1.0</fx:Field>
          <fx:Field Tag="OtherVariant">France</fx:Field>
          <fx:Field Tag="OtherRole">Unknown</fx:Field>
        </fx:Note>
        <fx:Note Tag="documentation">edited with XMLSpy v2007 (http://www.altova.com) by VS (VSAdd)</fx:Note>
        <fx:Note Tag="documentation">W3C Schema generated by XMLSpy v2007 (http://www.altova.com)</fx:Note>
      </fx:ModelProperties>
      <fx:Folder Name="Elements" Type="Element" Id="1"/>
      <fx:Folder Name="Types" Type="Type" Id="2"/>
      <fx:Folder Name="Groups" Type="Group" Id="3"/>
      <fx:Folder Name="AttributeGroups" Type="AttrGroup" Id="4"/>
      <fx:Folder Name="Attributes" Type="Attr" Id="5"/>
      <fx:Folder Type="Guideline" Name="Guidelines"/>
    </xs:documentation>
  </xs:annotation>
  <xs:element name="CDERR" fx:FolderId="1">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DATESYS" fx:FolderId="1">
    <xs:annotation>
      <xs:documentation>
        <fx:Note Tag="Mapping">7</fx:Note>
        <fx:Note Tag="Mapping">8</fx:Note>
        <fx:Note Tag="Mapping">9</fx:Note>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:int">
        <xs:enumeration value="20091023"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DREJET" fx:FolderId="1">
    <xs:complexType>
      <xs:sequence fx:NextOrdinalNumber="1">
        <xs:element ref="DTVAL" fx:OrdinalNumber="0">
          <xs:annotation>
            <xs:documentation>
              <fx:Note Tag="documentation">Date of cancellation (YYYYMMDD)</fx:Note>
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DTVAL" type="xs:string" fx:FolderId="1"/>
  <xs:element name="ENV" fx:FolderId="1">
    <xs:complexType>
      <xs:sequence fx:NextOrdinalNumber="6">
        <xs:element ref="IABO" minOccurs="0" fx:OrdinalNumber="0"/>
        <xs:element ref="MES" fx:OrdinalNumber="1"/>
        <xs:element name="DATESYS" minOccurs="0" fx:OrdinalNumber="2">
          <xs:annotation>
            <xs:documentation>
              <fx:Note Tag="documentation">Date système (AAAAMMJJ)</fx:Note>
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="8"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SENDER" minOccurs="0" fx:OrdinalNumber="3">
          <xs:annotation>
            <xs:documentation>
              <fx:Note Tag="documentation">Coordonnées de l'envoyeur (Adresse EDI)</fx:Note>
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="35"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="RECIEPENT" minOccurs="0" fx:OrdinalNumber="4">
          <xs:annotation>
            <xs:documentation>
              <fx:Note Tag="documentation">Nom du receveur</fx:Note>
            </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="35"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element ref="TYPMESS" minOccurs="0" fx:OrdinalNumber="5"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IABO" fx:FolderId="1">
    <xs:complexType>
      <xs:sequence fx:NextOrdinalNumber="2">
        <xs:element ref="UTI" fx:OrdinalNumber="0"/>
        <xs:element ref="MTP" fx:OrdinalNumber="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IE16" fx:FolderId="1">
    <xs:complexType>
      <xs:sequence fx:NextOrdinalNumber="5">
        <xs:element ref="DREJET" fx:OrdinalNumber="0"/>
        <xs:element ref="CDERR" minOccurs="0" fx:OrdinalNumber="1">
          <xs:annotation>
            <xs:documentation>
              <fx:Note Tag="documentation">
Error type. Type d’erreur. Requis. n..2. Uniquement avec de4451=AAO. Règle nationale.
Voir codes en annexe 3.
Règle nationale :
ATTENTION: seule la première erreur détectée sera signalée à l'opérateur dans le message FR016A.
              </fx:Note>
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="LIBERR" fx:OrdinalNumber="2"/>
        <xs:element ref="VALOR" fx:OrdinalNumber="3"/>
        <xs:element ref="INDERR" fx:OrdinalNumber="4"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INDERR" fx:FolderId="1">
    <xs:complexType>
      <xs:sequence fx:NextOrdinalNumber="1">
        <xs:element ref="TXTINDERR" fx:OrdinalNumber="0">
          <xs:annotation>
            <xs:documentation>
              <fx:Note Tag="documentation">Error pointer</fx:Note>
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LIBERR" fx:FolderId="1">
    <xs:complexType>
      <xs:sequence fx:NextOrdinalNumber="1">
        <xs:element ref="TXTERR" fx:OrdinalNumber="0">
          <xs:annotation>
            <xs:documentation>
              <fx:Note Tag="documentation">Release request rejection reason</fx:Note>
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LRN" fx:FolderId="1">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="09FR002030J23101837"/>
        <xs:maxLength value="21"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MES" fx:FolderId="1">
    <xs:complexType>
      <xs:sequence fx:NextOrdinalNumber="1">
        <xs:element ref="RESPONS" fx:OrdinalNumber="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MTP" fx:FolderId="1">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="LB"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RECIEPENT" fx:FolderId="1">
    <xs:annotation>
      <xs:documentation>
        <fx:Note Tag="Mapping">11</fx:Note>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="TRACING"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="RESPONS" fx:FolderId="1">
    <xs:complexType>
      <xs:sequence fx:NextOrdinalNumber="2">
        <xs:element ref="LRN" fx:OrdinalNumber="0">
          <xs:annotation>
            <xs:documentation>
              <fx:Note Tag="documentation">Reference number</fx:Note>
              <fx:Note Tag="Mapping">1</fx:Note>
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="IE16" fx:OrdinalNumber="1">
          <xs:annotation>
            <xs:documentation>
              <fx:DocItem Type="TypeLocal" Name=":local:complexType">
                <fx:DocItem Type="GroupSequence" Name="xs:sequence">
                  <fx:DocItem Type="ElementInstance" Name="DREJET" OrdinalNumber="0">
                    <fx:DocItem Type="TypeLocal" Name=":local:complexType">
                      <fx:DocItem Type="GroupSequence" Name="xs:sequence">
                        <fx:DocItem Type="ElementInstance" Name="DTVAL" OrdinalNumber="0">
                          <fx:Note Tag="Mapping">2</fx:Note>
                        </fx:DocItem>
                      </fx:DocItem>
                    </fx:DocItem>
                  </fx:DocItem>
                  <fx:DocItem Type="ElementInstance" Name="CDERR" OrdinalNumber="1">
                    <fx:Note Tag="Mapping">3</fx:Note>
                  </fx:DocItem>
                  <fx:DocItem Type="ElementInstance" Name="LIBERR" OrdinalNumber="2">
                    <fx:DocItem Type="TypeLocal" Name=":local:complexType">
                      <fx:DocItem Type="GroupSequence" Name="xs:sequence">
                        <fx:DocItem Type="ElementInstance" Name="TXTERR" OrdinalNumber="0">
                          <fx:Note Tag="Mapping">4</fx:Note>
                        </fx:DocItem>
                      </fx:DocItem>
                    </fx:DocItem>
                  </fx:DocItem>
                  <fx:DocItem Type="ElementInstance" Name="INDERR" OrdinalNumber="4">
                    <fx:DocItem Type="TypeLocal" Name=":local:complexType">
                      <fx:DocItem Type="GroupSequence" Name="xs:sequence">
                        <fx:DocItem Type="ElementInstance" Name="TXTINDERR" OrdinalNumber="0">
                          <fx:Note Tag="Mapping">5</fx:Note>
                        </fx:DocItem>
                      </fx:DocItem>
                    </fx:DocItem>
                  </fx:DocItem>
                  <fx:DocItem Type="ElementInstance" Name="VALOR" OrdinalNumber="3">
                    <fx:DocItem Type="TypeLocal" Name=":local:complexType">
                      <fx:DocItem Type="GroupSequence" Name="xs:sequence">
                        <fx:DocItem Type="ElementInstance" Name="TXTVALOR" OrdinalNumber="0">
                          <fx:Note Tag="Mapping">6</fx:Note>
                        </fx:DocItem>
                      </fx:DocItem>
                    </fx:DocItem>
                  </fx:DocItem>
                </fx:DocItem>
              </fx:DocItem>
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SENDER" fx:FolderId="1">
    <xs:annotation>
      <xs:documentation>
        <fx:Note Tag="Mapping">10</fx:Note>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:long">
        <xs:enumeration value="30096101800268"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TXTERR" fx:FolderId="1">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="350"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TXTINDERR" fx:FolderId="1">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="HEA.Authorized location of goods code"/>
        <xs:maxLength value="280"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TXTVALOR" fx:FolderId="1">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="140"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TYPMESS" fx:FolderId="1">
    <xs:annotation>
      <xs:documentation>
        <fx:Note Tag="Mapping">12</fx:Note>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="IE16"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="UTI" fx:FolderId="1">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="LAB"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="VALOR" fx:FolderId="1">
    <xs:complexType>
      <xs:sequence fx:NextOrdinalNumber="1">
        <xs:element ref="TXTVALOR" minOccurs="0" fx:OrdinalNumber="0">
          <xs:annotation>
            <xs:documentation>
              <fx:Note Tag="documentation">Original attribute value</fx:Note>
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
